.social {
  @include list-reset;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  max-width: 24px;

  @include vp-1023  {
    gap: 50px;
  }

  &__link {
    color: $color-social;
    transition: color 0.3ms ease-in-out;

    &:hover {
      color: $color-ecru-white;
    }

    &:focus-visible {
      color: $color-ecru-white;
    }
  }
}
